.App {
  text-align: center;
  background: black;
}



.followers{
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.user{
  border: 1px solid black;
  padding: 0;
  margin: 1% auto;
  width: 25%;
  background-image: linear-gradient(to bottom right, lightblue, black);
}

.user:hover{
  transform: scale(1.05);
}

h1{
  color:white
}
